/* 1. ĐƯỜNG LƯỚI NGANG DẠNG NÉT ĐỨT MÀU XÁM TỐI */
.chart-horizontal-grid-lines {
    -fx-stroke: #475569;
    -fx-stroke-dash-array: 6 6;
    -fx-stroke-width: 1px;
}

/* 2. TRẠNG THÁI GỐC: ĐỊNH NGHĨA NÚT MỐC TRÒN TRÊN BIỂU ĐỒ (Màu vàng cam lõi trắng) */
.default-color0.chart-line-symbol {
    -fx-background-color: #F59E0B, white;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

/* 3. HIỂN THỊ TRỤC TỌA ĐỘ VÀ ÉP HIỆN TOÀN BỘ CHỮ KHÔNG CẮT XÉN */
.axis {
    -fx-font-size: 11px;
    -fx-font-family: "System";
    -fx-tick-label-fill: #94A3B8;
}

.axis:bottom {
    -fx-tick-labels-visible: true;
}

.axis .tick-label {
    -fx-fill: #94A3B8;
    -fx-font-weight: bold;
}

.axis-label {
    -fx-text-fill: #38BDF8;
    -fx-font-weight: bold;
}

.chart-plot-background {
    -fx-background-color: transparent;
}